@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  text-align: center;
  background-color: #e6e6e6;
}

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

header {
  font-size: 22px;
  margin: 27px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}
.buttons button {
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 180px;
  width: 190px;
  padding-bottom: 22px;
  border: 2px solid black;
  cursor: pointer;
}

.score {
  display: flex;
  gap: 25px;
  justify-content: center;
}
.score div {
  width: 200px;
}
.score h2 {
  font-size: 80px;
  padding: 15px 10px;
  margin-bottom: 0;
  border: 1px solid black;
}
.score h3 {
  font-size: 29px;
  margin: 0;
  margin-top: 15px;
}

.player {
  color: #6F08A7;
}
.computer {
  color: #e6e60e;
}